<template name="field_edit">
  <form>
    {{#if isDropdown field}}  
      <select data-field={{field.dbField}}>
        {{#each choice in field.choices}}
          <option value={{choice}} {{maybeSelected choice}}>{{choice}}</option>
        {{/each}}
      </select>
    {{else}}
      {{#if field.multiLine}}
        <textarea data-field={{field.dbField}}>{{getValue}}</textarea>
      {{else}}
        <input type={{getInputType field}} value={{getValue}} data-field={{field.dbField}}>
      {{/if}}
      <input type="submit">
    {{/if}}
  </form>
</template>