<template name="spreadsheet">
  <table class="spreadsheet_table">
    <thead>
      {{#each field in fields}}
        <td>{{field.name}} <span data-action="sort_set" data-sortfield={{field.dbField}} class="sort_indicator {{faClass field.dbField}}"></span></td>
      {{/each}}
      {{#if isAdmin}}
        <td></td>
      {{/if}}
    </thead>
    <tbody>
      {{#each doc in documents}}
        {{>document document=doc}}
      {{/each}}
      {{>new_document}}
    </tbody>
  </table>
  
</template>